<div class="modal fade" id="{{value.target}}" tabindex="-1" role="dialog" aria-labelledby="{{value.target}}Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="{{value.target}}Label">{{value.title}}</h4>
      </div>
      <form>
        <div class="modal-body">
            <div ng-include="value.form"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{value.AppControlText.cancel}}</button>
            <button type="submit" class="btn btn-primary" ng-click="value.click();">{{value.AppControlText.submit}}</button>
        </div>
      </form>
    </div>
  </div>
</div>


 